/*
    ===========================================
    CSS RESET
    ===========================================
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*
    ===========================================
    HEADER
    ===========================================
*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-links {
    display: flex;
    gap: 10px;
    list-style: none;
}

/*
    ===========================================
    MAIN
    ===========================================
*/

#card-container {
    background-color: black;
    color: white;
    padding: 30px;
}

.main-navbar {
    background-color: #0282f9;
}

/*
    ===========================================
    FOOTER
    ===========================================
*/

.footer {
    background-image: url('/img/footer-bg.jpg');
}