/* 
    ===========================================
    RESET & BASE 
    ===========================================
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    padding: 0 20px;
}

:root {
    /* Header */
    --header-txt-color: #464646;
    --header-link-active: #0282f9;
    --header-border-active: #0282f9;

    /* Main */
    --main-bg-color: #1c1c1c;
    --main-txt-color: #ffffff;
    --action-bar-bg: #0282f9;
    --action-bar-txt: #ffffff;

    /* Footer*/
    --footer-txt-title: #ffffff;
    --footer-txt-link: #959595;
    --footer-txt-link-hv: #ffffff;
    --footer-bottom-bg: #303030;
    --footer-social-title: #0282f9;
    --footer-btn-border: #0282f9;
    --footer-btn-txt: #ffffff;
    --footer-btn-bg-hv: #0282f9;
}

/*
    ===========================================
    HEADER
    ===========================================
*/

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.header img {
    display: block;
    width: 70px;
    aspect-ratio: 1;
}

.header-menu {
    display: flex;
    list-style: none;
    gap: 20px;
}

.header-menu li a {
    text-decoration: none;
    color: var(--header-txt-color);
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    padding: 31px 0;
    border-bottom: 5px solid transparent;
    transition: all 0.2s;
}

.header-menu li a:hover,
.header-menu li a.active {
    color: var(--header-link-active);
    border-bottom: 5px solid var(--header-border-active);
}

/*
    ===========================================
    MAIN
    ===========================================
*/

.jumbotron {
    background-image: url("/img/jumbotron.jpg");
    background-size: 100%;
    background-position: top;
    min-height: 350px;
    width: 100%;
}

#card-container {
    padding: 30px 0;
}

.comic-thumb {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.comic-thumb figure {
    width: calc((100% / 6) - (20px * 5) / 6);
    margin: 0;
}

.comic-thumb figcaption {
    font-size: 0.8rem;
    font-weight: bold;
}

.comic-thumb img {
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.main-content {
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
}

.action-navbar {
    background-color: var(--action-bar-bg);
}

.main-navbar {
    padding: 40px 0;
}

.action-bar-list {
    display: flex;
    justify-content: center;
    gap: 35px;
    list-style: none;
}

.action-bar-list li a {
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--action-bar-txt);
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    transition: transform 0.3s ease;
}

.action-bar-list li a:hover {
    transform: translateY(-5px);
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.action-bar-list li a img {
    height: 50px;
    aspect-ratio: 1;
    object-fit: contain;
}

.action-bar-list li a:hover img {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/*
    ===========================================
    FOOTER
    ===========================================
*/

/* Footer Top */
.footer-top {
    background-image: url('/img/footer-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    padding: 10px 0;
}

.footer-top .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-columns {
    display: flex;
    gap: 50px;
}

.col {
    line-height: 0.8;
}

.col h4 {
    color: var(--footer-txt-title);
    text-transform: uppercase;
    margin: 20px 0;
    position: relative;
    z-index: 1;
}

.footer-nav-list {
    list-style: none;
    padding: 0;
    position: relative;
    z-index: 1;
}

.footer-nav-list li a {
    color: var(--footer-txt-link);
    text-decoration: none;
    font-size: 12px;
    line-height: 1.8;
    transition: color 0.2s;
}

.footer-nav-list li a:hover {
    color: var(--footer-txt-link-hv);
}

.footer-logo-bg {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 0;
}

.footer-logo-bg img {
    width: 450px;
}

/* Footer Bottom & Social */
.footer-bottom {
    background-color: var(--footer-bottom-bg);
}

.footer-social {
    padding: 20px 0;
    position: relative;
    z-index: 20;
}

.social-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-btn-sign button {
    background-color: transparent;
    border: 2px solid var(--footer-btn-border);
    color: var(--footer-btn-txt);
    padding: 12px 15px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s;
}

.footer-btn-sign button:hover {
    background-color: var(--footer-btn-bg-hv);
}

.footer-icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer-icons ul {
    list-style-type: none;
    display: flex;
    gap: 5px;
}

.footer-icons span {
    color: var(--footer-social-title);
    font-weight: bold;
    font-size: 1.1rem;
    margin-right: 10px;
    text-transform: uppercase;
}

.footer-icons img {
    width: 32px;
    height: auto;
    cursor: pointer;
    transition: filter 0.3s;
}

.footer-icons img:hover {
    filter: brightness(1.5);
}

.header-menu,
.action-bar-list,
.footer-columns {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}